{{ range .Children}}
{{ $isSection := .HasChildren }}

{{ if $isSection }}
{{$current := print .Name | safeHTML}}
{{ $current = replace $current "/" "" }}

<div class="accordion" id="accordionMenuChild{{$current}}">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button aria-controls="collapse{{$current}}"
                    aria-expanded="false"
                    class="accordion-button nav-child-section"
                    data-bs-target="#child{{$current}}"
                    data-bs-toggle="collapse"
                    id="menuButtonChild_{{$current}}"
                    type="button">

                {{ .Title }}

            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionMenuChild{{$current}}" id="child{{$current}}">
            <div class="accordion-body">
                <div class="nav-item-body">
                    {{ partial "navigation/child" . }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ else }}
<a class="nav-item" href="{{.URL}}" id="menuItem_{{.Name}}">
    {{ .Title }}
</a>
{{ end }}

{{ end }}