{{ $parent := print .Parent | safeHTML }}
{{ $parentId := replace $parent "/" "" }}



<div class="accordion" id="accordionMenuChild{{ $parentId }}">
    {{ range .Children }}

        {{ $currentParent := print .Parent | safeHTML }}
        {{ $depth := split $currentParent "/" | len}}
        {{ $padding := math.Product $depth 20}}

        {{ $isSection := .HasChildren }}
        {{ $current := print .Name | safeHTML }}
        {{ $current = replace $current "/" "" }}

        {{ if $isSection }}
            <div class="accordion-item">
                <h2 class="accordion-header" style="padding-left: {{$padding}}px">
                    <button aria-controls="collapse{{ $current }}"
                            aria-expanded="false"
                            class="accordion-button nav-child-section"
                            data-bs-target="#child{{ $current }}"
                            data-bs-toggle="collapse"
                            id="menuButtonChild_{{ $current }}"
                            type="button">

                        {{ .Title }}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" data-bs-parent="#accordionMenuChild{{ $parentId }}"
                     id="child{{ $current }}">
                    <div class="accordion-body">
                        <div class="nav-item-body">
                            {{ partial "navigation/child" . }}
                        </div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="nav-item" style="padding-left: {{$padding}}px">
                <li>
                    <a  href="{{ .URL }}" id="menuItem_{{ .URL }}">
                        {{ .Title }}
                    </a>
                </li>

            </div>
        {{ end }}
    {{ end }}
</div>