<div class="navigation">

    <div class="d-flex flex-column">
        <div class="accordion" id="accordionMenu">
            {{ range .Site.Menus.main }}

                {{ $current := print .Name | safeHTML }}

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button aria-controls="collapse{{ $current }}"
                                aria-expanded="false"
                                class="accordion-button collapsed"
                                data-bs-target="#{{ $current }}"
                                data-bs-toggle="collapse"
                                id="menuButton_{{ $current }}"
                                type="button">
                            {{ $current }}
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" data-bs-parent="#accordionMenu" id="{{ $current }}">
                        <div class="accordion-body main-accordion-body">
                            <div class="nav-item-body">
                                {{ partial "navigation/child" .}}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}

        </div>
    </div>
</div>
