.app-code {
  position: relative;

  .highlight {
    overflow-x: scroll !important;
  }

  .app-code-info {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid $light;

    &::before {
      content: "📝";
      color: $blue;
      padding-right: 20px;
    }

  }

  .app-code-highlight {
    position: relative;

    .language {
        position: absolute;
        top: 0;
        right: 20px;
        padding: 5px 10px;
        background-color: $blue;
        color: #ffffff;
        border-radius: 0 0 10px 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .highlight {
      border-radius: 10px;
      overflow: hidden;

      pre {
        padding: 20px;
        margin:0;

      }
    }
  }

  .app-code-bashrc {
    padding: 0 0 20px;
    display: flex;
    gap: 10px;

    span {
      font-weight: bold;

    }
  }

}