.navigation-btn {
  position: fixed;
  display: block;
  top: 10px;
  left: 10px;

  img {
    width: 30px;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navigation {
  border-right: 1px solid $dark;

  .navigation-desktop {
    width: 300px;
  }

  .offcanvas-body {
    padding: 0;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }

  .accordion-button {
    border-radius: 0 !important;
    text-transform: uppercase;
    font-family: $poppins;

    &::after {
      order: -1;
      margin: 0 10px 0 0;
    }
  }

  .main-accordion-body {
    border-bottom: 1px solid $dark;
    border-top: 1px solid $dark;
  }

  .accordion-body {
    padding: 0;
  }


  .nav-item {
    padding: 16px 20px;
    margin-left: 40px;

    li::marker {
      color: $purple;
      font-size: large;

    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: monospace;
      color: $dark;
      margin-left: 10px;
    }
  }

  .nav-child-item {
    padding-left: 60px;
  }

  .nav-item-active {

    a {
      text-decoration: underline !important;
      color: $purple;
    }

  }

  .navigation-desktop {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

}
