@tailwind base;
@tailwind components;
@tailwind utilities;


p code {
    padding-inline: 8px !important;
    padding: 0.2em 0.4em;
    font-weight: normal;
    font-size: 16px;
    border-radius: 4px;
    color: #E2E4E5;
    border-bottom: #9ca3af 2px solid;
    background-color: #282A36;
}

.highlight {
    background-color: #282A36;
}

pre code {
    word-break: normal;
}

body {
    background-color: #0D1117;
    color: #C9D1D9;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

p {
    margin: 16px 0 16px 0;
}


@layer components {

    .title {
        @apply
        font-bold
        tracking-tight
        border-b
        border-gray-600
        mb-4
        mt-8
        pb-2
        outline-offset-8
        text-4xl;
    }

    h1 {
        @apply title text-3xl border-b;
    }

    h2 {
        @apply title text-2xl;
    }

    h3 {
        @apply title text-xl;
    }

    h4 {
        @apply title text-lg;
    }

    h5 {
        @apply title text-base;
    }

    h6 {
        @apply title text-sm;
    }


}