<div class="app-code">
    {{ $isBashrc := .Get "bashrc" }}
    {{ $lang := .Get "lang" }}
    {{ $input := trim .Inner "\n\r" }}
    {{ $opts := dict "lineNos" "table" "style" "dracula" }}

    {{ if $isBashrc }}
        {{ $lang = "bash" }}
        {{ $index := .Get "index" }}

        <!-- nano -->
        {{ partial "bash/bashrc" . }}

        <div class="app-code-highlight">
            <span class="language">{{ $lang }}</span>
            <span class="code-highlight">{{ transform.Highlight $input $lang $opts }}</span>
        </div>

        <!-- source -->
        {{ partial "bash/source" . }}

    {{ else }}

    <div class="app-code-highlight">
        <span class="language">{{ $lang }}</span>
        <span class="code-highlight">{{ transform.Highlight $input $lang $opts }}</span>
    </div>
    {{end}}
</div>
